<div class="row">
  <div class="col-md-2">
    <img src="http://ph.jacintomelero.es/200x200/logo"/>
  </div>
  <div class="col-md-6">
    <h2>{{model.name}}</h2>
    <em class="italic">
      Lorem fistrum caballo blanco caballo negroorl condemor hasta luego Lucas diodeno. Caballo blanco caballo negroorl mamaar diodenoo de la pradera quietooor amatomaa ese que llega a gramenawer por la gloria de mi madre. Quietooor jarl no puedor ese pedazo de pupita quietooor pecador a wan llevame al sircoo. Te va a hasé pupitaa te voy a borrar el cerito fistro no puedor va usté muy cargadoo ahorarr te va a hasé pupitaa sexuarl. Va usté muy cargadoo a gramenawer quietooor papaar papaar. Condemor la caidita ese pedazo de hasta luego Lucas llevame al sircoo torpedo no puedor. Te voy a borrar el cerito diodenoo apetecan va usté muy cargadoo. Pupita de la pradera torpedo llevame al sircoo no puedor a peich ese hombree te voy a borrar el cerito la caidita de la pradera. Va usté muy cargadoo caballo blanco caballo negroorl no te digo trigo por no llamarte Rodrigor va usté muy cargadoo amatomaa tiene musho peligro me cago en tus muelas jarl sexuarl benemeritaar.
    </em>
  </div>
</div>
<div class="row" style="padding-top:2em">
  <div class="col-md-2" style="padding-top:1em">
    <img src="http://ph.jacintomelero.es/200x400/chart"/>
  </div>
  <div class="col-md-6">
    <h3>Episodios</h3>
    <!-- <div class="table-responsive"> -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox" />
            </th>
            <th>
              <h4>Última temporada</h4>
            </th>
            <th>
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              7x09 Test type serie
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              7x08 Test type serie
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              7x07 Test type serie
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- </div> -->
</div>
